// .hero-bground {
//   // width: auto;
//   // height: 600px;
//   // margin-left: auto;
//   // margin-right: auto;
//   // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//   //   url('../img/heroimage.jpg');
//   // background-position: cover;
//   background-color: $bg-color-primary;
// }

.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/hero-mob.jpg');
  background-position: cover;
  background-color: $bg-color-primary;
  @media screen and(min-width:1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and(min-width:1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
      max-width: 696px;
    }
  }
  .button {
    margin-right: auto;
    margin-left: auto;
  }

  // padding-top: 200px;
  // padding-bottom: 200px;
  // text-align: center;
  // &__title {
  //   color: $white;

  //   font-weight: 900;
  //   font-size: 44px;
  //   line-height: 1.36;
  //   text-align: center;
  //   letter-spacing: 0.06em;
  //   text-transform: uppercase;

  //   width: 696px;
  //   margin-bottom: 30px;
  //   margin-right: auto;
  //   margin-left: auto;
}
// }
