.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
    margin-bottom: 30px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 6px;
  background-color: $white;

  &__icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.close__icon {
  .close:hover &,
  .close:focus & {
    fill: $accent-color;
  }
}
