.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  &--desctop {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &--no-padding {
    padding-top: 0;
  }
  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
      margin-bottom: 50px;
    }
  }
  &--gray {
    background-color: $bg-color-secondary;
  }
}
