body {
  background-color: $white;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
}
